<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherappfinal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D93C6191F56A2CA0073A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D93C62D1F56A2CA0073A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D93C6381F56A2CA0073A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
